{% extends "./base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<h2>Top 10 Movies</h2>
<a href="{% url 'login' %}" class="btn btn-primary">Log out</a>
<div class="movie-grid">
    {% for movie in top_rated_movies %}
    <div class="movie-item">
        <h3>{{ movie.movie }}</h3>
        <p><strong>Rating:</strong> {{ movie.rating }}</p>
        <p><strong>Votes:</strong> {{ movie.votes }}</p>
        <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary">Details</a>
        
    </div>
    {% endfor %}
</div>
{% endblock %}
