{% extends "./base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<h2>Edit Movie</h2>
<a href="{% url 'admin-dashboard' %}" class="btn btn-secondary mt-3">Back to Dashboard</a>
{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}
<form action="{% url 'update_movie' movie_id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Save Changes" %}
</form>
<a href="{% url 'read_movies' %}" class="btn btn-secondary mt-3">Back to Movies</a>
{% endblock %}
